S3_BUCKET=<value>
S3_REGION=<value>
S3_ACCESS_KEY_ID=<value>
S3_SECRET_ACCESS_KEY=<value>
VK_GROUP_OWNER_ID=<value>
BASE_URL=<value>
BROWSER_BASE_URL=<value>
S3_OBJECT_PREFIX_NEW=<value>
VK_CLIENT_ID=<value>
VK_CLIENT_SECRET=<value>
VK_AUTHORIZATION_CALLBACK=<value>
VK_SCOPE=<value>
VK_API_V=<value>
VK_AUTHORIZED_REDIRECT=<value>
VK_AUTH_ERROR_REDIRECT=<value>
VK_AUTH_SUCCESS_REDIRECT=<value>
VK_AUTHORIZATION_SUCCESS_CALLBACK=<value>
