VK_GROUP_OWNER_ID=<VK_GROUP_OWNER_ID>
BASE_URL=<BASE_URL>
VK_CLIENT_ID=<VK_CLIENT_ID>
VK_CLIENT_SECRET=<VK_CLIENT_SECRET>
VK_AUTHORIZATION_CALLBACK=<VK_AUTHORIZATION_CALLBACK>
VK_SCOPE=<VK_SCOPE>
VK_API_V=<VK_API_V>
PUBLIC_VAPID_KEY=<PUBLIC_VAPID_KEY>
PRIVATE_VAPID_KEY=<PRIVATE_VAPID_KEY>
CHECK_POST_QUEUE_ACTION=<CHECK_POST_QUEUE_ACTION>
CHECK_POST_INTERVAL_MIN=<CHECK_POST_INTERVAL_MIN>
