S3_BUCKET=<your-value>
S3_REGION=<your-value>
S3_ACCESS_KEY_ID=<your-value>
S3_SECRET_ACCESS_KEY=<your-value>
VK_GROUP_OWNER_ID=<your-value>
BASE_URL=<your-value>
BROWSER_BASE_URL=<your-value>
NEW_S3_BUCKET_PREFIX=<your-value>
ACCESS_TOKEN_TMP=<your-value>
VK_CLIENT_ID=<your-value>
VK_CLIENT_SECRET=<your-value>
VK_USER=<your-value>
VK_PASSWORD=<your-value>
VK_AUTHORIZATION_CALLBACK=<your-value>
VK_SCOPE=<your-value>
VK_API_V=<your-value>
VK_AUTHORIZED_REDIRECT=<your-value>
VK_AUTH_ERROR_REDIRECT=<your-value>
VK_AUTH_SUCCESS_REDIRECT=<your-value>
VK_AUTHORIZATION_SUCCESS_CALLBACK=<your-value>
