@import "colors";

html {
    height: 100%;
}

body {
    height: 100%;
}

#__nuxt {
    height: 100%;
}

#__layout {
    height: 100%;
}

/* unvisited link */
a:link {
  color: $lightBlue-700;
}

/* visited link */
a:visited {
  color: $lightBlue-900;
}

/* mouse over link */
a:hover {
  color: $lightBlue-600;
}

/* selected link */
a:active {
  color: $lightBlue-700;
}
